body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  align-content: center;
  grid-gap: 1%;
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.btn {
  margin: 1%;
  display: inline-block;
  height: 25vw;
  max-height: 200px;
  width: 25vw;
  max-width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

@media (min-width: 768px) {
  /* for screens wider than 768px */
  .btn {
    height: 200px;
    max-height: 200px;
    width: 200px;
    max-width: 200px;
  }
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
